<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      {{#each model as |musclestory|}}
        {{muscle-story-tile musclestory=musclestory}}
      {{/each}}
    </div>
  </div>
</div>
